
/* For assigning properties to ship parts */
/* All the parts are arranged such that they don't overlap each other */


/* Set initial bg color to change later */
body {
	background-image: none;
	background-color: white;

}


/* This property applies to all ship parts */
.candrag {
	cursor: pointer;
	width: 100px;
	height: 100px;
}

/* Turrets have their own ids */
/* Turrets 2 and 4 are flipped */
#turret1 {
	position: absolute;
	top: 150px;
	left: 50px;

}


#turret2 {
	position: absolute;
	top: 180px;
	left: 50px;

}


#turret3 {
	position: absolute;
	top: 150px;
	left: 180px;

}


#turret4 {
	position: absolute;
	top: 180px;
	left: 180px;

}



/* For correctly styling parts */
img:first-child {
	position: absolute;
	cursor: pointer;
}

/* Hull Style 1 */
#hull{
	position: absolute;
	width: 958px;
	height:103px;
	top: 500px;
	left: 500px;

}


/* Hull Style 2 */
#hull2{
	position: absolute;
	top: 300px;
	left: 500px;

}


/* All center parts including the bridge, mast, and raised platform */
#center {
	position: absolute;
	top: 700px;
	left: 500px;


}

/* Bridge Style 1 */
#bridge {
	position: absolute;

	top: 800px;
	left: 500px;

}

/* Bridge Style 2 */
#bridge2 {
	position: absolute;

	top: 800px;
	left: 800px;

}


#mast {
	position: absolute;
	background: grey;
	width: 20px;
	height: 60px;

	top: 800px;
	left: 50px;

}

/* Smokestack styles */
#smokestack {
	position: absolute;
	background: #fdc53e;

	border-top: 9px solid black;
	width: 30px;
	height: 60px;

	top: 800px;
	left: 80px;

}
