
/* For assigning properties to ship parts */


/* This property applies to all ship parts */
.candrag {
	cursor: pointer;
	width: 100px;
	height: 100px;
}

/* Turrets have their own ids */
/* Turrets 2 and 4 are flipped */
#turret1 {
	position: absolute;
	top: 150px;
	left: 50px;

}


#turret2 {
	position: absolute;
	top: 180px;
	left: 50px;

}


#turret3 {
	position: absolute;
	top: 150px;
	left: 180px;

}


#turret4 {
	position: absolute;
	top: 180px;
	left: 180px;

}



/*  */
img:first-child {
	position: absolute;
	cursor: pointer;
}

/* Hulls have their ids */
#hull{
	position: absolute;
	width: 958px;
	height:103px;
	top: 500px;
	left: 500px;

}

/* All center parts including the bridge, mast, and raised platform */
#center {
	position: absolute;
	background: grey;
	width: 500px;
	height: 10px;
	top: 700px;
	left: 500px;


}

#bridge {
	position: absolute;
	background: #AAAAAA;
	width: 300px;
	height: 30px;

	top: 800px;
	left: 500px;

}

#mast {
	position: absolute;
	background: grey;
	width: 20px;
	height: 60px;

	top: 800px;
	left: 50px;

}

#smokestack {
	position: absolute;
	background: #fdc53e;
	width: 30px;
	height: 60px;

	top: 800px;
	left: 80px;

}
