/* For assigning properties to ship parts */
/* All the parts are arranged such that they don't overlap each other */


/* The code below also allows the user to switch between a plain white background and a sky and sea background. */

html {
	height:100%;
}

body {
	background-image: none;
	background-color: white;
	width:100%;
	height:100%;
}


/* This property applies to all ship parts */
.candrag {
	cursor: pointer;
	width: 100px;
	height: 100px;
}

/* Turrets have their own ids */
/* Turrets 2 and 4 are flipped */
#turret1 {
	position: absolute;
	top: 150px;
	left: 50px;
	z-index:50;

}

#turret2 {
	position: absolute;
	top: 180px;
	left: 50px;

	z-index:50;
}

#turret3 {
	position: absolute;
	top: 150px;
	left: 180px;

	z-index:50;
}

#turret4 {
	position: absolute;
	top: 180px;
	left: 180px;

	z-index:50;
}


#turret1_s2{
	position: absolute;
	top: 180px;
	left: 300px;

	z-index:50;
}

#turret2_s2{
	position: absolute;
	top: 180px;
	left: 420px;

	z-index:50;
}



/* For correctly styling parts */
img:first-child {
	position: absolute;
	cursor: pointer;
}

/* Hull Style 1 */
#hull{
	position: absolute;
	width: 958px;
	height:103px;
	top: 550px;
	left: 500px;

	z-index:1;
}


/* Hull Style 2 */
#hull2{
	position: absolute;
	top: 350px;
	left: 500px;
	z-index:1;
}


/* All center parts including the bridge, mast, and raised platform */
#center {
	position: absolute;
	top: 700px;
	left: 500px;


}

/* Bridge Style 1 */
#bridge {
	position: absolute;

	top: 800px;
	left: 500px;

}

/* Bridge Style 2 */
#bridge2 {
	position: absolute;

	top: 800px;
	left: 800px;

}


#mast {
	position: absolute;
	background: grey;
	width: 20px;
	height: 60px;

	top: 800px;
	left: 50px;

}

/* Smokestack styles */
#smokestack {
	position: absolute;
	background: #fdc53e;

	border-top: 9px solid black;
	width: 30px;
	height: 60px;

	top: 800px;
	left: 80px;

}

/* Alternate background (ocean with sunny sky) */

#sky {
	background-color:#ED9000;
	width:100%;
	
	/* Attempt at making the sky blend in better with the ocean. 
	-webkit-box-shadow: 0px 30px 33px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 30px 33px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 30px 33px 0px rgba(0,0,0,0.2);
	*/
}

/* Give the orange sky a yellow sun. */
#sky > #sun {
		position:relative;
		background-color:yellow;
		width:100px;
		left: 700px;
		top:50px;
		height:100px;
		border-radius:50%;
}


#sea {
	background: #69D2E7;
	width: 100%;
	height: 50%;
	z-index: 40;
}